/* OVERRIDE */

.navbar-default {
  border-radius: 0;
}

.table-striped>tbody>tr:nth-child(2n+1)>td, .table-striped>tbody>tr:nth-child(2n+1)>th {}

/* OVERRIDE */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
}

/***** PRELOADER *****/

#loadScreen {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 550;
  background: #fff;
}

#loadImg {
  margin: 0;
  margin-left: -50px;
  margin-top: -50px;
  padding: 0;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
}

/***** CUSTOM *****/

h1 {
  color: #323232;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

h2 {
  color: #999;
}

p {
  color: #8196c1;
}

.panel-custom {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
}

.nonPlayer {
  color: #8196c1;
}

.Player {
  color: #000;
}

#chatBox {
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 60vh;
  background: #fff;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #999;
}
